@import "tachyons.min.css";

.biorhyme     { font-family: 'BioRhyme', serif; }
.space-mono   { font-family: 'Space Mono', Courier, monospace; }
.info-margin  { margin-top: -75px; }
.flex-basis   { flex-basis: 100%; }
