@import "tachyons.min.css";

.biorhyme { font-family: 'BioRhyme', serif; }
.cutive { font-family: 'Cutive Mono', monospace; }

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
